.photo__album-photos-count {
    margin-bottom: 10px;
}
.photo__album-name a       { text-decoration: none; }
.photo__album-name a:hover { text-decoration: underline; }

.photo__next-photos-thumbnails {
    font-size: 0;
    text-align: center;
    margin: -22px -10px 10px 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 44px;
}
.photo__next-photo-thumbnail {
    display: inline-block;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border: 2px solid #043D8A;
}
.photo__next-photo-thumbnail:hover,
.photo__next-photo-thumbnail--current {
    border-color: #ed1922;
}
.photo__next-photo-thumbnail--current img {
    /*opacity: .5;*/
}
.photo__prev-page-icon,
.photo__next-page-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
}
.photo__prev-page-icon {
    margin-left: -40px;
}
.photo__next-page-icon {
    margin-right: -40px;
}
.photo__prev-page-icon { background: url("/img/big-arrow-left.png"); }
.photo__next-page-icon { background: url("/img/big-arrow-right.png"); }

.photo__photo {
    margin-bottom: 8px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.photo__delete-icon { top: -2px; }
.photo__details {
    position: relative;
}
.photo__edit-icon,
.photo__delete-icon {
    position: absolute;
    left: -30px;
}
.photo__edit-icon   { top: -2px; }

.photo__description {
    margin-bottom: 8px;
}
.photo__description p:first-child {
    margin-top: 0;
}
.photo__other-info {
    overflow: hidden;
}
.photo__date-uploaded,
.photo__original-size-image {
    display: inline;
    margin-right: 4px;
}
.photo__like {
    float: right;
}
.photo__comments {
    padding: 20px 0;
}