.calendar {
    position: relative;
    margin-bottom: 20px;
}
.calendar .fc-header-title h2 {
    font: bold 13px/16px Arial, sans-serif;
    text-transform: uppercase;
    color: #043D8A;
}
.calendar .fc-header .fc-button-prev,
.calendar .fc-header .fc-button-next {
    margin-bottom: 0;
    background: none;
    box-shadow: none;
    border: none;
    color: #043D8A;
    font-weight: bold;
}
.calendar .fc-header .fc-button-prev:hover,
.calendar .fc-header .fc-button-next:hover {
    text-decoration: underline;
    color: #E20103;
}
.calendar__add-event {
    height: 20px;
    width: 20px;
    background: url("/img/add-icon.png") no-repeat;
    position: absolute;
    top: -2px;
    left: -30px;
}
.comments {
    padding: 20px 0;
}

.html {
    position: relative;
}
.html__config-icon {
    position: absolute;
    right: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 5px;
    background: url("/img/config-icon.png") no-repeat;
}
.events {
    position: relative;
    padding-bottom: 20px;
}
.events__label {
    margin-bottom: 8px;
}
.events__add-event-icon {
    height: 20px;
    width: 20px;
    background: url("/img/add-icon.png") no-repeat;
    position: absolute;
    top: -2px;
    left: -30px;
}
.events__table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.events__table th,
.events__table td {
    font-size: 13px;
    border: 1px solid #DDD;
    padding: 4px 8px;
}
.events__table th {
    font-size: 13px;
    text-transform: uppercase;
    color: #043D8A;
}
.events__table p {
    text-indent: 0;
    font-size: 13px;
    margin: 4px 0;
}

.events__date-column,
.events__name-column,
.events__description-column {
    text-align: center;
}
.events__number-column {
    width: 16px;
}
.events__date-column {
    width: 120px;
}
.events__name-column {
    width: 200px;
}
.events__event .events__name-column {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.events__info-row p:first-child {
    margin-top: 0;
}
.events__info-row p:last-child {
    margin-bottom: 0;
}
.events__event--past .events__name-column {
    color: gray;
}
.events__event--coming .events__name-column {
    color: #E20103;
}
.events__info-row--collapsed {
    display: none;
}

.events__edit-event-icon,
.events__delete-event-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.events__edit-event-icon {
    left: -60px;
    background: url('/img/edit-icon.png') no-repeat;
}
.events__delete-event-icon {
    left: -30px;
    background: url('/img/delete-icon.png') no-repeat;
}
.editEvent__header{
    font: 20px Tahoma;
    color: red;
}
.editEvent__label{
    display: block;
    color: #043D8A;
    font: 18px Tahoma;
    margin: 10px 0px;
}
.editEvent__titleInput, .editEvent__descriptionInput{
    width: 100%;
}
.editEvent__date{
    margin-right: 4px;
    width: 65px;
}
.editEvent__labelDateStart{
    margin-right: 5px;
}
.editEvent__labelDateFinish{
    margin: 5px;
}
.editEvent_button{
    margin: 15px 0;
}
.events__comments {
    padding-bottom: 10px;
}
