.template__columns {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.template__left-column,
.template__right-column {
    display: table-cell;
    vertical-align: top;
}
.template__left-column {
    width: 640px;
    padding-right: 10px;
}
.template-column__admin {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.template__right-column {
    padding-left: 10px;
}
.background {
    background: #000 url("/img/background_light_cream.jpg") repeat fixed left bottom;
    margin-top: -2px;
    height: 100%;
}
.main {
    width: 1100px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #C6C7C8;
    padding: 0 10px;
    border-radius: 6px;
}