.template__columns {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.template__left-column,
.template__right-column {
    display: table-cell;
    vertical-align: top;
}
.template__left-column {
    width: 640px;
    padding-right: 10px;
}
.template-column__admin {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.template__right-column {
    padding-left: 10px;
}
.background {
    background: #000 url("/img/background_light_cream.jpg") repeat fixed left bottom;
    margin-top: -2px;
    height: 100%;
}
.main {
    width: 86%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #C6C7C8;
    padding: 0 10px;
    border-radius: 6px;
}

#jstree {
    float: left;
    width: 20%;
    background-color: white;
    border-right: 1px solid silver;
    overflow: auto;
    padding: 0 0;
    min-height: 50%;
}

#data {
    margin-left: 21%;
}

.container {
    margin-bottom: 4px;
}