.template__columns {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.template__left-column,
.template__right-column {
    display: table-cell;
    vertical-align: top;
}
.template__left-column {
    width: 640px;
    padding-right: 10px;
}
.template__right-column {
    padding-left: 10px;
}
