 .layout__container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.layout1 {
    border-radius: 5px;
    margin: 10px 0;
}

.layout__save {
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 200px;
}






