 .layout__container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.layout1 {
    border-radius: 5px;
}

.layout1 .layout__save {
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    height: 26px;
    margin-bottom: 8px;
    margin-top: 6px;
    vertical-align: middle;
    width: 22%;
}






