.loginForm {
    margin: 24px 0 30px 380px;
    width: 194px;
}

.login_title {
    color: #043D8A;
    font-family: "Roboto Slab";
    font-size: 17px;
    margin-bottom: 20px;
    display: inline-block;
}

.login_title_right {
    color: #043D8A;
    display: inline-block;
    font-family: "Roboto Slab";
    font-size: 16px;
    margin-left: 1%;
    margin-top: 1%;
}

.login_field {
    width: 120px;
    float:right;
    clear:both;
}

.login_row {
    margin-bottom: 10px;
}

.login_submit {
    margin: 8px 0 8px 67px;
}

.login_error {
    color: #e20103;
}

.adminDialog label {
    display: block;
    margin-top: 6px;
}
.adminDialog input {
    width: 100%;
}
