.videos {
    position: relative;
    margin-bottom: 16px;
}
.videos__add-icon,
.videos__edit-icon,
.videos__delete-icon {
    position: absolute;
    left: -30px;
}
.videos__add-icon {
    top: -2px;
}
.videos__edit-icon {
    top: 5px;
}
.videos__delete-icon {
    top: 35px;
}
.videos__label {
    margin-bottom: 8px;
}
.videos__list {
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
}
.videos__video {
    position: relative;
    margin-bottom: 32px;
}
.videos__video:last-child {
    margin-bottom: 0;
}
.videos__iframe,
.videos__title,
.videos__date {
    margin: 0 0 4px;
    line-height: 16px;
}
.videos__description {
    margin: 0;
}
.videos__description p:first-child {
    margin-top: 0;
}
.videos__pages {
    font-weight: bold;
}
.videos__page {
    display: inline-block;
    vertical-align: top;
}
.videos__page,
.videos__prev-page-icon {
    margin-right: 5px;
}
.videos__page {
    padding: 0 2px;
    font-weight: bold;
}
.videos__page--current {
    color: #ED1922;
    text-decoration: none;
    cursor: auto;
}
.videos__prev-page-icon,
.videos__next-page-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    margin-bottom: -2px;
}
.videos__prev-page-icon { background: url("/img/arrow-left.png") 0 0 no-repeat; }
.videos__next-page-icon { background: url("/img/arrow-right.png") 0 0 no-repeat; }

